.logo {
  width: 20%;
}

.home-icon {
  width: 2rem;
}

.list-item {
  background-color: #ffffff;
  width: 60%;
}


.option-content {
  display: inline-flex;
  align-items: center;
  height: 3rem;
}

.option-content:hover {
  background-color: #E3F1FC;
  color: #00ACEE;
  border-radius: 5rem;
  width: 12rem;
  height: 3rem;
}

.text-option {
  color: #000;
}

.btn-tweet {
  background-color: #1DA1F2;
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  text-align: center;
}